a#index {
    color: purple;
}
a#events {
    color: blue;
}
a#roster {
    color: blue;
}
a:hover {
    color: #fce205;
}
main {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
    border: 3px solid rgba(255, 255, 0, 0.5);
    background-color: rgba(255, 255, 0 , 0.7);
    padding: 10px;
}
article h2 {
    color: #323232;
    font-size: 32px;
}
article p {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
}

