body {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
div {
    background-color: #fffacd;
    padding: 25px;
    border-left: 1px solid #323232;
    border-right: 1px solid #323232;
    width: 70%;
    text-align: center;
}
header {
    background-color: yellow;
    color: #323232;
    padding: 2px;
    border: 2px solid #323232;
    width: 45%;
    min-width: 10em;
    text-align: center;
    margin: auto;
    margin-top: 35px;
    font-size: larger;
}
nav {
    margin: 20px auto;
    text-align: center;
}
a {
    height: 35px;
    padding-top: 5px;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}
a:hover {
    color: #fce205;
} 
